In [0]:
CREATE TABLE cc_info (
    credit_card VARCHAR(18),
    city VARCHAR(30),
    state VARCHAR(3),
    zipcode VARCHAR(8),
    credit_card_limit NUMERIC(16)
);

In [0]:
copy cc_info 
from 's3://jsungade-redshift-serverless-bucket/credit_card/cc_info.csv' 
iam_role DEFAULT
delimiter ','
CSV
IGNOREHEADER 1;

In [0]:
CREATE TABLE transaction (
    credit_card VARCHAR(18),
    date datetime,
    transaction_dollar_amount DECIMAL(37,2),
    long DECIMAL(37,13),
    lat DECIMAL(37,13)
);

In [0]:
copy transaction 
from 's3://jsungade-redshift-serverless-bucket/credit_card/transactions.csv' 
iam_role DEFAULT
delimiter ','
CSV
IGNOREHEADER 1;

In [0]:
SELECT * FROM transaction LIMIT 5;

In [0]:
SELECT * FROM cc_info LIMIT 5;

In [0]:
CREATE SCHEMA dbt_test;
CREATE SCHEMA dataanalytics_test;

In [0]:
-- selecting only number columns both tables
SELECT c.credit_card, t.date, transaction_dollar_amount, credit_card_limit FROM transaction t
LEFT JOIN cc_info c
USING (credit_card)
LIMIT 5

In [0]:
-- answering the question what is the largest amount per state
WITH joined AS(
SELECT credit_card_limit, state FROM transaction t
LEFT JOIN cc_info c
USING (credit_card)
)
SELECT state, MAX(credit_card_limit) AS max_credit_limit_of_state FROM joined
GROUP BY state
ORDER BY max_credit_limit_of_state DESC
LIMIT 5

In [0]:
select * FROM dbt_test.fct_cc limit 3

In [0]:
select * from dbt_test.top5_state